.detail{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.imagesdetailcontainer{
  display: flex;
  width: 50%;
}
.imagesdetailcontainer .secondary-images{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.imagesdetailcontainer .secondary-images img{
  width: 40%;
  margin: 10px 0;
  border-radius: 5px;
}
.imagesdetailcontainer .main-image{
  width: 60%;
}
.imagesdetailcontainer .main-image img{
  width: 300px;
  border-radius: 5px;
}
.itemdetailcontainer{
  align-items: center;
  margin-top: 35px;
  padding-left: 10px;
  width: 60%;
}
.itemdetailcontainer .nombre{
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: 800;
}
.itemdetailcontainer .price{
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}
.itemdetailcontainer .descripcion{
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: lighter;
}
.flecha{
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 15px;
}
