.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #353535;
    position: relative;
    .categories{
        display: flex;
        gap: 20px;
        list-style: none;
        cursor: pointer;
    }
    .cartwidget{
        display: flex;
        cursor: pointer;
        align-items: center;
        .number{
            display: flex;
            padding-left: 10px
        }
    }
}