.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #353535;
    position: relative;
}    
.navbar .categories{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar .categories .category{
    color: white;
    text-decoration: none;
}
.navbar .cartwidget{
    display: flex;
    align-items: center;
}    
.navbar .cartwidget .number{
    display: flex;
    padding-left: 10px
}
