.contador{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.contador .agregar-eliminar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.agregar-eliminar button{
  width: 40px;
  height: 40px;
  background-color: rgb(42, 42, 42);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.agregar-eliminar button:hover{
  border: 1px solid #2ECC71;
  cursor: pointer;
}
.agregar-eliminar .menos:hover{
    border: 1px solid #cc2e2e;
    cursor: pointer;
  }
.agregar-eliminar p{
  font-weight: bold;
}
.agregar{
  padding: 10px 0;
  background-color: rgb(42, 42, 42);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.agregar:hover{
  border: 1px solid #2ECC71;
  color: #2ECC71;
  cursor: pointer;
}